<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @quest.name %>
</p>

<p>
  <b>Quest ordering:</b>
  <%= @quest.quest_ordering %>
</p>

<p>
  <b>Reward:</b>
  <%= @quest.reward %>
</p>


<%= link_to 'Edit', edit_quest_path(@quest) %> |
<%= link_to 'Back', quests_path %>
